@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DStruct</h1>
    <p><i>The</i> RESTful place for Data Structures as a Service.</p>
    <p style="font-size: 88px;">💥</p>
</div>
