@{
    ViewData["Title"] = "Blog";
}

<div class="text-left">
    <h1 class="display-4">DStruct-ive Adventures</h1>
    A DStruct-ive blog by Stephen Swensen, documenting his adventures implementing
    persistent Data Structures as a Service with a relational data store
    and providing a RESTful interface. The tech stack will be built around C# and Azure.
    
    <h2 class="display-6">May 16th, 2022</h2>
    <p>So far I've done the following:</p>
    <ul>
        <li>Purchased the domain name <a href="https://www.dstruct.dev">dstruct.dev</a> (pretty cheap)</li>
        <li>Set up a personal Azure account (free trial)</li>
        <li>Purchased a personal Rider licesnse (monthly)</li>
        <li>Created the dstruct solution with a www project for the dstruct home and blog</li>
        <li>Created a <a href="https://github.com/stephen-swensen/dstruct">public GitHub repository</a> under my personal account</li>
        <li>Got https working locally (on linux + firefox); not really necessary but I was curious</li>
        <li>Played around with Hot Reloading (we're targetting .NET 6), but it's been inconsistent (unfortunately)</li>
    </ul>
        
    <p>
        I'm doing development on my personal X1 Carbon Gen 7 which is running Linux Mint.
        I'm using Rider as my primary IDE + vim to hack at files ad-hoc.
    </p>
</div>
